.App {
  text-align: center;
}

ul{
  list-style: none;
}

#loops{
  margin: 5px;
}

.number{
  margin: 1ch;
}

#body{
  display: flex;
  flex-direction: row;
  height: 600px;
}

#plot{
  flex: 2;
}

#numbers{
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 600px;
  overflow-y: scroll;
}

.split{
  margin: 5ch;
}